<!DOCTYPE html>
<html class="darkmode" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Guessing Game</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="relative h-screen overflow-hidden bg-indigo-900">
        <img src="https://images.unsplash.com/photo-1683002506825-2205b4fe4f53?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="absolute object-cover w-full h-full"/>
        <div class="absolute inset-0 bg-black opacity-25">
        </div>
        <header class="absolute top-0 left-0 right-0 z-20">
            <nav class="container px-6 py-4 mx-auto md:px-12">
                <div class="items-center justify-between md:flex">
                    

                    <div class="flex items-center justify-between">
                        <a href="{{ url_for('login') }}" class="text-white">
                            <svg class="w-8 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" viewBox="0 0 16.16 12.57">
                                <defs>
                                </defs>
                                <path d="M14.02 4.77v7.8H9.33V8.8h-2.5v3.77H2.14v-7.8h11.88z">
                                </path>
                                <path d="M16.16 5.82H0L8.08 0l8.08 5.82z">
                                </path>
                            </svg>
                        </a>
                        <div class="md:hidden">
                            <button class="text-white focus:outline-none">
                                <svg class="w-12 h-12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container relative z-10 flex items-center justify-between px-6 py-32 mx-auto md:px-12 xl:py-40">
            <!-- Bagian Himalaya -->
            <div class="relative z-10 flex flex-col items-start lg:w-2/5 xl:w-2/5">
                <span class="font-bold text-blue-800 uppercase"></span>
                <h1 class="mt-6 text-6xl font-bold leading-tight text-gray-100 sm:text-7xl">
                    Buat Akun
                    <br />
                    Dulu Ya !!
                </h1>
            </div>
        
            <!-- Bagian Login -->
            <div class="flex items-center justify-center lg:w-3/5 xl:w-2/5">
                <div class="max-w-md w-full bg-gray-200 shadow-md rounded-lg p-8">
                    <h3 class="text-2xl font-semibold text-gray-700 dark:text-white">Buat akun dulu</h3>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="mb-4 text-red-600">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <form method="POST" class="mt-10 space-y-8 dark:text-white">
                        <div>
                            <div class="block relative before:absolute before:bottom-0 before:h-0.5 before:left-0 before:origin-right focus-within:before:origin-left before:right-0 before:scale-x-0 before:m-auto before:bg-blue-400 dark:before:bg-blue-800 focus-within:before:!scale-x-100 focus-within:invalid:before:bg-red-400 before:transition before:duration-300">
                                <input name="email" type="email" placeholder="emailnya harus domain unair.ac.id ya" class="w-full bg-transparent pb-3 border-b border-gray-300 dark:placeholder-gray-300 dark:border-gray-600 outline-none invalid:border-red-400 transition" required>
                            </div>
                        </div>
                    
                        <div class="flex flex-col items-end">
                            <div class="block w-full relative sbefore:absolute before:bottom-0 before:h-0.5 before:left-0 before:origin-right focus-within:before:origin-left before:right-0 before:scale-x-0 before:m-auto before:bg-blue-400 dark:before:bg-blue-800 focus-within:before:!scale-x-100 focus-within:invalid:before:bg-red-400 before:transition before:duration-300">
                                <input name="password" type="password" placeholder="Password? bikin yang kuat dong" class="w-full bg-transparent pb-3 border-b border-gray-300 dark:placeholder-gray-300 dark:border-gray-600 outline-none invalid:border-red-400 transition" required>
                            </div>
                        </div>
                    
                        <!-- Button Login -->
                        <div>
                            <button type="submit" class="w-full rounded-full bg-blue-900 dark:bg-blue-400 h-11 flex items-center justify-center px-6 py-3 transition hover:bg-blue-600 focus:bg-blue-600 active:bg-blue-800">
                                <span class="text-base font-semibold text-white dark:text-gray-900">Sign Up</span>
                            </button>
                            <p class="-ml-3 w-max p-3 text-sm tracking-wide text-black">Sudah punya akun? <a href="{{ url_for('login') }}" class="-ml-3 w-max p-3 text-sm tracking-wide text-blue-900">Login di sini</a></p>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        
        
        
    </div>
    


</body>